*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}
.container{
    height: 90%;
    width: 90%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 1fr auto;
    border: 2px solid white ;
    padding: 10px;
    gap: 10px;
    background-color: red;
}
.child{
    border: 1px solid white;
    font-size:20px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#c1{
    background-color: #374ee6;
    color: white;
    text-align: center;
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 4;
}
#c2{
    background-color: lightskyblue;
    color: white;
    padding: 20px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#c3{
    background-color: lightskyblue;
    color: white;
    padding: 20px;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
#c4{
    background-color: lightskyblue;
    color: white;
    padding: 20px;
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
#c5{
    background-color: lightskyblue;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    color: white;
    padding: 20px;
}
#c6{
    background-color: #374ee6;
    color: white;
    text-align: center;
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 4;
}




